/* styles/forms.css */
@import "tailwindcss";

.p-datepicker {
  @apply bg-gray-800 border border-gray-700 ;
}

.component-style {
  @apply w-full p-3 rounded bg-gray-800 border border-gray-700 
         focus:outline-none focus:ring-2 focus:ring-blue-500;
  background-color: transparent;
}

.green-button-style{
  @apply px-5 py-2 rounded-lg font-semibold text-white 
               border border-[#61b292] bg-[#127c56] 
               hover:bg-[#4d8f76] hover:border-[#4d8f76] 
               transition-all duration-300 shadow-md active:scale-95
}

.gradient-color-button-style{
  @apply px-6 py-3 rounded-lg  font-semibold
            bg-gradient-to-r from-cyan-500 via-blue-600 to-purple-600
            hover:from-purple-600 hover:via-blue-600 hover:to-cyan-500
            shadow-lg shadow-cyan-500/50
            transition-all duration-500 ease-in-out
            hover:scale-105
}

.google-content-bg{
  @apply w-full px-6 py-3 rounded-lg  font-semibold
            bg-gradient-to-r from-red-500 via-pink-600 to-purple-600
            hover:from-purple-600 hover:via-pink-600 hover:to-red-500
            shadow-lg shadow-red-500/50
            transition-all duration-500 ease-in-out
            hover:scale-105 flex items-center justify-center space-x-2
}

.add-trips-button{
  @apply px-6 py-3 rounded-lg  font-semibold
            bg-gradient-to-r from-cyan-500 via-blue-600 to-purple-600
            hover:from-purple-600 hover:via-blue-600 hover:to-cyan-500
            shadow-lg shadow-cyan-500/50
            transition-all duration-500 ease-in-out
            hover:scale-105
}

